// Keywords: Selevted sweep at 5e5 position, Complete and incomplete sweep

//    slim -t -m -d "freq_sel_init=0.5" -d "freq_sel_end=0.6" -d "s_beneficial=0.0001" -d "ind_sample_size=20" -d "file_output1='./slim.snm.output_file.ms'" ./sweeps_ind.slim
//   slim -t -m -d "freq_sel_init=0.05" -d "freq_sel_end=1.0" -d "s_beneficial=0.05" -d "ind_sample_size=20" -d "file_output1='./slim.selsweep.output_file.ms'" ./sweeps_ind.slim
//    slim -t -m -d "freq_sel_init=0.05" -d "freq_sel_end=0.5" -d "s_beneficial=0.05" -d "ind_sample_size=20" -d "file_output1='./slim.incomplete_selsweep.output_file.ms'" ./sweeps_ind.slim
//    slim -t -m -d "freq_sel_init=0.5" -d "freq_sel_end=1.0" -d "s_beneficial=0.05" -d "ind_sample_size=20" -d "file_output1='./slim.standing_selsweep.output_file.ms'" ./sweeps_ind.slim

initialize() {
	initializeMutationRate(2e-7);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 99999);
	initializeRecombinationRate(1e-7);
	
	defineConstant("Ne",4000);
	
	if (exists("slimgui")) {
		defineConstant("freq_sel_init",0.001);
		defineConstant("freq_sel_end",0.999);
		defineConstant("s_beneficial",0.05);
		defineConstant("ind_sample_size",50);
		defineConstant("file_output1","./slim.test_selsweep.output_file.ms");
	}
	writeFile(filePath=file_output1+"_curve.txt",contents=(""),append=F);
}
//do initialization of the population during 10000 generations (20*Ne) to have a population in equlibrium mutation-drift
1 early() { 
	// save this run's identifier, used to save and restore
	defineConstant("simID", getSeed());
	sim.addSubpop("p1", Ne); 
}
//introduce selection at a given posotopn using some conditions (frequency)
20000 late() {
	if(s_beneficial != 0) {	
		// save the state of the simulation
		sim.outputFull("./tmp_slim_" + simID + ".txt");	
		//look for mutation that is closest to the center of the region and to the desired initial frequency
		muts= sim.mutations;
		distm=(sim.mutationFrequencies(p1, muts)-freq_sel_init)^2;	
		distm=distm/sd(distm); //normalize
		distp=(muts.position-50000)^2;	
		distp=distp/sd(distp); //normalize
		dist=sqrt(distm+distp);
		if (size(dist))  //here a distance theshold can be instead filtered if is replaced by 'min(dist)< given value thr'
		{
			//choose the mutation		
			mutchosen=which(dist==min(dist));
			mut=muts[mutchosen];	
			mut.setSelectionCoeff(s_beneficial); //add beneficial slection
			pos_mut = mut.id; //look at the variant in the total variants
			print("position: " + mut.position + " frequency: " +  sim.mutationFrequencies(p1, mut));
			writeFile(filePath=file_output1+"_curve.txt",contents=("position: "+ mut.position),append=T);
		}
		else
		{
			cat("No contender of sufficient frequency found.\n");
			writeFile(filePath=file_output1+"_curve.txt",contents=("No contender of sufficient frequency found.\n"),append=T);
			print("Simulation finished");
			//finish simulation
			system("rm ./tmp_slim_" + simID + ".txt");
			sim.simulationFinished();
		}
	}
	else {
			cat("ACHIEVED\n");
			writeFile(filePath=file_output1+"_curve.txt",contents=("ACHIEVED"),append=T);
			allIndividuals = sim.subpopulations.individuals;
			//collect genomes from the SAME INDIVIDUAL
			sampledIndividuals = sample(allIndividuals, ind_sample_size,replace=F);
			g_1 = sampledIndividuals.genomes;
			m = sortBy(unique(g_1.mutations),"position");
			// print the number of segregating sites
			writeFile(filePath=file_output1,contents=("//"),append=T);
			writeFile(filePath=file_output1,contents=("segsites: "+ size(m)),append=T);
			//print the positions
			positions = format("%.6f", m.position / sim.chromosome.lastPosition);
			writeFile(filePath=file_output1,contents=("positions: "+ paste(positions, sep=" ")),append=T);
			//print the sampled genomes
			for (genome in g_1){
				hasMuts = (match(m,genome.mutations) >= 0);
				writeFile(filePath=file_output1,contents=(paste(asInteger(hasMuts),sep="")),append=T);
			}
			//sim.outputFull();
			print("Simulation finished");
			//finish simulation
			system("rm ./tmp_slim_" + simID + ".txt");
			sim.simulationFinished();
	}
}
//finish simulation if selective position achieve final frequency, otherwise repeat process from equilibrium saved population
20001:25000 late() {	
	if (sum(sim.mutations.selectionCoeff) == 0)
	{
		if (sum(sim.substitutions.selectionCoeff) == 0.0) {
			cat("Sweep mutation lost in gen. " + sim.cycle + "\n");
			writeFile(filePath=file_output1+"_curve.txt",contents=("Sweep mutation lost in gen. " + sim.cycle),append=T);
			// go back to initial saved generation 10000
			sim.readFromPopulationFile("./tmp_slim_" + simID + ".txt");			
			// start a newly seeded run
			setSeed(rdunif(1, 0, asInteger(2^62) - 1));
			//look for mutation that is closest to the center of the region and to the desired initial frequency
			//already calculated before but variables lost, may be used a gobal variable?
			muts= sim.mutations;
			distm=(sim.mutationFrequencies(p1, muts)-freq_sel_init)^2;	
			distp=distm/sd(distm); //normalize
			distp=(muts.position-50000)^2;	
			distp=distp/sd(distp); //normalize
			dist=sqrt(distm+distp);
			if (size(dist))  //here a distance theshold can be instead filtered if is replaced by 'min(dist)< given value thr'
			{
				//choose the mutation		
				mutchosen=which(dist==min(dist));
				mut=muts[mutchosen];	
				mut.setSelectionCoeff(s_beneficial); //add beneficial slection
				pos_mut = mut.id; //look at the variant in the total variants
				print("position: " + mut.position + " frequency: " + sim.mutationFrequencies(p1, mut));
				writeFile(filePath=file_output1+"_curve.txt",contents=("position: "+ mut.position),append=T);
			}
			else
			{
				cat("No contender of sufficient frequency found.\n");
				writeFile(filePath=file_output1+"_curve.txt",contents=("No contender of sufficient frequency found."),append=T);
				//sim.outputFull();
				print("Simulation finished");
				//finish simulation
				system("rm ./tmp_slim_" + simID + ".txt");
				sim.simulationFinished();
			}
		}
		else {
			cat("Sweep mutation reached fixation.\n");
			writeFile(filePath=file_output1+"_curve.txt",contents=("Sweep mutation reached fixation."),append=T);
			allIndividuals = sim.subpopulations.individuals;
			//collect genomes from the SAME INDIVIDUAL
			sampledIndividuals = sample(allIndividuals, ind_sample_size,replace=F);
			g_1 = sampledIndividuals.genomes;
			m = sortBy(unique(g_1.mutations),"position");
			// print the number of segregating sites
			writeFile(filePath=file_output1,contents=("//"),append=T);
			writeFile(filePath=file_output1,contents=("segsites: "+ size(m)),append=T);
			//print the positions
			positions = format("%.6f", m.position / sim.chromosome.lastPosition);
			writeFile(filePath=file_output1,contents=("positions: "+ paste(positions, sep=" ")),append=T);
			//print the sampled genomes
			for (genome in g_1){
				hasMuts = (match(m,genome.mutations) >= 0);
				writeFile(filePath=file_output1,contents=(paste(asInteger(hasMuts),sep="")),append=T);
			}
			//sim.outputFull();
			print("Simulation finished");
			//finish simulation
			system("rm ./tmp_slim_" + simID + ".txt");
			sim.simulationFinished();
		}
	}
	//monitorize the beneficial mutation
	muts = sim.mutations;
	pos_mut = which(sim.mutations.selectionCoeff > 0);
	if(size(pos_mut)) {
		print(sim.mutationFrequencies(p1,muts[pos_mut])); 
		writeFile(filePath=file_output1+"_curve.txt",contents=(""+sim.mutationFrequencies(p1,muts[pos_mut])),append=T);
		if (sim.mutationFrequencies(p1,muts[pos_mut]) >= freq_sel_end) {	
			print("freq_end = " + sim.mutationFrequencies(p1,muts[pos_mut]));
			writeFile(filePath=file_output1+"_curve.txt",contents=("freq_end = " + sim.mutationFrequencies(p1,muts[pos_mut])) ,append=T);
			cat("ACHIEVED\n");
			writeFile(filePath=file_output1+"_curve.txt",contents=("ACHIEVED"),append=T);
			allIndividuals = sim.subpopulations.individuals;
			//collect genomes from the SAME INDIVIDUAL
			sampledIndividuals = sample(allIndividuals, ind_sample_size,replace=F);
			g_1 = sampledIndividuals.genomes;
			m = sortBy(unique(g_1.mutations),"position");
			// print the number of segregating sites
			writeFile(filePath=file_output1,contents=("//"),append=T);
			writeFile(filePath=file_output1,contents=("segsites: "+ size(m)),append=T);
			//print the positions
			positions = format("%.6f", m.position / sim.chromosome.lastPosition);
			writeFile(filePath=file_output1,contents=("positions: "+ paste(positions, sep=" ")),append=T);
			//print the sampled genomes
			for (genome in g_1){
				hasMuts = (match(m,genome.mutations) >= 0);
				writeFile(filePath=file_output1,contents=(paste(asInteger(hasMuts),sep="")),append=T);
			}
			//sim.outputFull();
			print("Simulation finished");
			//finish simulation
			system("rm ./tmp_slim_" + simID + ".txt");
			sim.simulationFinished();
		}	
	}
}


